.contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.contacts-list__item address {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-size: calc(16 / 1920) * 100vw;
  line-height: calc(20 / 1920) * 100vw;
}

.contacts-list__item {
  line-height: calc(20 / 1920) * 100vw;
}

.contacts-list__item:not(:last-child) {
  padding-bottom: percentage(calc(10 / 345));
}
