.main-footer {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: $color-black-pearl-2;
  min-width: 320px;


  @include vp-1023 {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.main-footer__heading-container h3 {
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.05em;

  @include vp-1023 {
    line-height: 16px;
  }
}

.main-footer__title--sections {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main-footer__wrapper {
  display: flex;

  @include vp-1023 {
    flex-direction: column;
  }
}

.main-footer__social-wrapper {
  display: flex;
  flex-direction: column;
  width: 215px;

  @include vp-1023 {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.main-footer__link {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;

  @include vp-767 {
    font-size: 14px;
  }
}

.main-footer__link:hover,
.main-footer__link:focus {
  color: $color-deep-sky-blue;
  cursor: pointer;
  outline: none;
}

.main-footer__link:active {
  opacity: 0.6;
}

.main-footer__group {
  display: grid;
  width: percentage(calc(845 / 1220));
  grid-template-columns: percentage(calc(470 / 845)) percentage(calc(30 / 845)) percentage(calc(345 / 845));
  padding-top: 5px;
  margin-left: auto;

  @include vp-1023 {
    margin: 0;
    margin-top: percentage(calc(35 / 670));
    padding: 0;
    width: 100%;
    grid-template-columns: percentage(calc(220 / 670)) percentage(calc(130 / 670)) percentage(calc(320 / 670));
  }

  @include vp-767 {
    margin-top: percentage(calc(25 / 270));
    display: flex;
    flex-direction: column;
  }
}

.main-footer__sections-wrapper {
  display: grid;
  grid-template-columns: percentage(calc(220 / 470)) percentage(calc(220 / 470));
  column-gap: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: flex-start;

  @include vp-1023 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    position: relative;
  }
}

.main-footer__contacts-wrapper {
  grid-column-start: 3;
  grid-column-end: 4;

  @include vp-767 {
    position: relative;
  }
}

.main-footer__logo {
  display: block;

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.main-footer__logo img {
  width: 100%;
  height: auto;
}

.main-footer__sections {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;

  @include vp-1023 {
    margin-top: 0;
  }
}

.main-footer__sections--primary {
  grid-column-start: 1;
  grid-column-end: 2;

  @include vp-1023 {
    margin-bottom: 10px;
    margin-top: 25px;
  }

  @include vp-767 {
    margin-bottom: 0;
    margin-top: -7px;
  }
}

.main-footer__sections-item {
  padding-bottom: 10px;
  line-height: 20px;

  @include vp-767 {
    line-height: 25px;
    padding-bottom: 5px;
  }
}

.main-footer__sections-item--last {
  padding-bottom: 0;

  @include vp-767 {
    padding-bottom: 15px;
  }
}

.main-footer__button-sections,
.main-footer__button-contacts {
  display: none;
  border: none;
  padding: 0;
  background-color: inherit;
  width: 15px;
  height: 15px;
  align-self: center;
  position: relative;

  @include vp-767 {
    margin-top: -5px;
    margin-right: 2px;
    flex: 0 0 auto;
    display: block;
  }
}

.main-footer__button-sections::after,
.main-footer__button-contacts::after,
.main-footer__button-sections::before,
.main-footer__button-contacts::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-silver;
}

.main-footer__button-sections::before,
.main-footer__button-contacts::before {
  top: 7.5px;
  left: 50%;
  transform: translate(-50%) rotate(90deg);
}

.main-footer__button-no-js {
  @include vp-767 {
    display: none;
  }
}

.main-footer__button-js::before {
  @include vp-767 {
    display: none;
  }
}

.main-footer__sections-wrapper::after,
.main-footer__sections-wrapper::before,
.main-footer__contacts-wrapper::before {
  @include vp-767 {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: rgba(248, 253, 255, 0.7);
  }
}

.main-footer__sections-wrapper::after {
  @include vp-767 {
    top: 0;
    left: -25px;
  }
}

.main-footer__sections-wrapper::before,
.main-footer__contacts-wrapper::before {
  @include vp-767 {
    bottom: 0;
    left: -25px;
  }
}

.main-footer__heading-container {
  background-color: inherit;
  border: none;
  cursor: default;
  display: block;
  padding: 0;
  text-align: left;

  @include vp-767 {
    padding-top: 22px;
    padding-bottom: 22px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
}

.main-footer__heading-container:disabled {
  @include vp-767 {
    cursor: default;
  }
}

.main-footer__heading-container:hover h3,
.main-footer__heading-container:focus h3 {
  @include vp-767 {
    color: $color-deep-sky-blue;
  }
}

.main-footer__heading-container:disabled:hover h3 {
  color: $color-default-white;
}

.main-footer__heading-container:hover .main-footer__button-sections::after,
.main-footer__heading-container:hover .main-footer__button-sections::before,
.main-footer__heading-container:hover .main-footer__button-contacts::after,
.main-footer__heading-container:hover .main-footer__button-contacts::before,
.main-footer__heading-container:focus .main-footer__button-sections::after,
.main-footer__heading-container:focus .main-footer__button-sections::before,
.main-footer__heading-container:focus .main-footer__button-contacts::after,
.main-footer__heading-container:focus .main-footer__button-contacts::before {
  @include vp-767 {
    background-color: $color-deep-sky-blue;
  }
}

.main-footer__heading-container:focus {
  outline: none;
}

.main-footer__heading-container:active {
  @include vp-767 {
    opacity: 0.6;
  }
}

.main-footer__list-js {
  @include vp-767 {
    display: none;
  }
}
