.sections-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: percentage(calc(220 / 470)) percentage(calc(220 / 470));
  column-gap: 30px;

  @include vp-1919 {
    column-gap: 22.5px;
  }

  @include vp-1439 {
    column-gap: 20px;
  }

  @include vp-1279 {
    column-gap: 16px;
  }

  @include vp-1023 {
    display: flex;
    flex-direction: column;
  }
}

.section-list__item:not(:last-child) {
  padding-bottom: percentage(calc(10 / 220));
}

.section-list__item {
  line-height: calc(20 / 1920) * 100vw;

  @include vp-1023 {
    padding-bottom: percentage(calc(10 / 220));
  }
}

.section-list__item:nth-child(2n + 1) {
  order: -1;
}
