.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: percentage(calc(15 / 150));
  margin-top: percentage(calc(30 / 215));
  margin-left: percentage(calc(10 / 215));
  width: percentage(calc(150 / 215));

  @include vp-1023 {
    margin: 0;
    width: percentage(calc(150 / 670));
    align-self: center;
    margin-right: -(percentage(calc(4 / 670)));
  }

  @include vp-767 {
    width: percentage(calc(150 / 270));
  }
}

.social-list__link {
  padding: percentage(5 / 40);
  display: flex;
}

.social-list__item {
  width: percentage(40 / 150);
}

.social-list__icon {
  width: 100%;
  height: auto;
}
