.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  margin-top: percentage(calc(30 / 215));
  margin-left: percentage(calc(10 / 215));
  width: percentage(calc(150 / 215));

  @include vp-1919 {
    column-gap: calc(14 / 1920) * 100vw;
  }

  @include vp-1023 {
    column-gap: calc(15 / 770) * 100vw;
    margin: 0;
    width: percentage(calc(150 / 670));
    align-self: center;
    margin-right: -(percentage(calc(4 / 670)));
  }

  @include vp-767 {
    column-gap: calc(15 / 320) * 100vw;
    width: percentage(calc(150 / 270));
  }

  @media (max-width: 320px) {
    column-gap: 15px;
  }
}

.social-list__item {
  width: percentage(40 / 150);
}

.social-list__link {
  padding: percentage(5 / 40);
  display: flex;
}

.social-list__link:active {
  opacity: 0.6;
}

.social-list__icon {
  fill: #f8fdff;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.social-list__icon--pin {
  fill: #041827;
}

.social-list__link:hover .social-list__icon {
  background-color: $color-deep-sky-blue;
}

.social-list__link:hover .social-list__icon--pin {
  background-color: $color-deep-sky-blue;
  fill: $color-deep-sky-blue;
}
