.advantages {
  padding-top: 120px;
  padding-bottom: 60px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 30px;
  grid-template-columns: percentage(calc(595 / 1220)) percentage(calc(595 / 1220));

  @include vp-1919 {
    gap: calc(30 / 1920) * 100vw;
  }

  @include vp-1023 {
    grid-template-columns: percentage(calc(320 / 670)) percentage(calc(320 / 670));
    gap: calc(30 / 770) * 100vw;
  }

  @include vp-767 {
    grid-template-columns: auto;
    gap: calc(30 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    gap: 30px;
  }
}

.advantages__card {
  padding: percentage(calc(40 / 595)) percentage(calc(45 / 595));
  position: relative;
  min-height: 300px;
  border: 1px solid $color-whisper;

  @include vp-1023 {
    min-height: 360px;
    padding: percentage(calc(39 / 320)) percentage(calc(29 / 320)) percentage(calc(30 / 320)) percentage(calc(44 / 320));
  }

  @include vp-767 {
    min-height: 340px;
    padding: 30px;
  }
}

.advantages__card--short {
  @include vp-767 {
    min-height: 325px;
  }
}

.advantages__card::after {
  position: absolute;
  content: "";
  width: percentage(calc(5 / 595));
  height: 100%;
  left: 0;
  top: 0;
  background-color: $color-deep-sky-blue;

  @include vp-1023 {
    width: percentage(calc(5 / 320));
  }

  @include vp-767 {
    width: 5px;
  }
}

.advantages__card-icon {
  stroke: $color-deep-sky-blue;
  fill: $color-deep-sky-blue;

  @include vp-767 {
    width: 30px;
    height: auto;
  }
}

.advantages__card h3 {
  color: $color-deep-sky-blue;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 18px;
  margin-top: 20px;

  @include vp-1023 {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__card p {
  margin: 0;
  font-size: 16px;
  line-height: 21px;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__card:hover {
  background-color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
}

.advantages__card:hover p,
.advantages__card:hover h3 {
  color: $color-alice-blue-2;
}

.advantages__card:hover .advantages__card-icon {
  stroke: $color-alice-blue;
  fill: $color-alice-blue;
}
