.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  flex: 1 1 auto;
  max-width: 480px;
  margin-left: auto;
  padding-left: 7px;
  padding-right: 13px;
  padding-bottom: 5px;

  @include vp-1023 {
    max-width: none;
    padding: 0;
    margin-left: auto;
    flex: initial;
    margin-right: 30px;
    margin-top: 10px;
    column-gap: 40px;
    justify-content: flex-end;
  }

  @include vp-767 {
    margin-top: 5px;
    margin-right: 20px;
  }
}

.contact-list__item {
  line-height: 21px;
}

.contact-list__link {
  color: #f2f5f6;
  display: flex;

  font-size: 16px;
}

.contact-list__link-icon {
  fill: #00b2ff;
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: $color-deep-sky-blue;
  outline: none;
}

.contact-list__link:hover > .contact-list__link-icon,
.contact-list__link:focus > .contact-list__link-icon {
  fill: $color-deep-sky-blue;
  stroke: $color-deep-sky-blue;
}

.contact-list__link:active {
  opacity: 0.6;
}

.contact-list__item span {
  display: flex;
  flex-wrap: wrap;

  word-break: break-all;

  margin-left: 15px;
}

.contact-list__link--mail span,
.contact-list__link--phone span {
  @include vp-1023 {
    display: none;
  }
}
