.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  flex: 1 1 auto;
  max-width: 480px;
  margin-left: auto;
  padding-left: 7px;
  padding-right: 13px;

  @include vp-1919 {
    // row-gap: calc(10 / 1920) * 100vw;
  }

  @include vp-1023 {
    max-width: none;
    padding: 0;
    margin-left: auto;
    // align-self: center;
    // width: 100%;
    // justify-content: right;
    // column-gap: calc(40 / 770) * 100vw;
    // margin-right: percentage(calc(10 / 435));
    // margin-bottom: percentage(calc(15 / 435));
  }

  @include vp-767 {
    column-gap: calc(20 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    column-gap: 40px;
  }
}

.contact-list__item {
  // width: percentage(calc(225 / 480));
  line-height: 21px;
  // // min-width: ;
  // flex: 0 0 auto;

  @include vp-1919 {
    // line-height: calc(20 / 1920) * 100vw;
  }

  @include vp-1023 {
    // width: percentage(calc(20 / 425));
  }

  @include vp-767 {
    // width: percentage(calc(20 / 160));
  }

  // @media (max-width: 320px) {
  //   line-height: 20px;
  // }
}

.contact-list__link {
  color: #f2f5f6;
  display: flex;

  // display: grid;
  // align-items: center;
  // grid-template-columns: percentage(calc(21 / 225)) percentage(calc(189 / 225));
  // column-gap: 15px;

  font-size: 16px;

  @include vp-1919 {
    column-gap: calc(15 / 1920) * 100vw;
    // font-size: calc(16 / 1920) * 100vw;
  }

  @include vp-1023 {
    font-size: 16px;
    padding: 0;
    display: flex;
  }
}

.contact-list__link-icon {
  // width: 100%;
  // height: auto;
  fill: #00b2ff;
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: $color-deep-sky-blue;
  outline: none;
}

.contact-list__link:hover > .contact-list__link-icon,
.contact-list__link:focus > .contact-list__link-icon {
  fill: $color-deep-sky-blue;
  stroke: $color-deep-sky-blue;
}

.contact-list__link:active {
  opacity: 0.6;
}

.contact-list__item span {
  display: flex;
  flex-wrap: wrap;

  word-break: break-all;

  margin-left: 15px;
}

.contact-list__link--mail span,
.contact-list__link--phone span {
  @include vp-1023 {
    display: none;
  }
}
