.main-nav {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  margin-left: auto;

  padding-right: 60px;

  @include vp-1919 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1023 {
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
  }

  @include vp-767 {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.main-nav__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-left: auto;
  width: 160px;
  padding-top: 6px;
  align-self: flex-start;

  @include vp-1023 {
    display: none;
  }
}

.main-nav__button {
  border: 1px solid $color-alice-blue-2;
  background-color: inherit;
  color: $color-alice-blue-2;
  text-transform: uppercase;
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  align-self: center;
  letter-spacing: 0.05em;
  user-select: none;
  width: 100%;
  padding: 10px;
}

.main-nav__button:hover,
.main-nav__button:focus {
  cursor: pointer;
  outline: none;
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
}

.main-nav__button:active {
  color: rgba(0, 178, 255, 0.5);
  border-color: rgba(0, 178, 255, 0.5);
}
