.main-nav {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  margin-left: auto;

  @include vp-1023 {
    // justify-content: space-between;
    // flex-wrap: wrap;
    // width: percentage(calc(435 / 650));
    // align-self: center;
  }

  @include vp-767 {
    width: percentage(calc(160 / 259));
    margin-right: percentage(calc(5 / 160));
  }
}

.main-nav__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-left: auto;
  width: 160px;

  @include vp-1919 {
    // row-gap: calc(10 / 1920) * 100vw;
  }
}

.main-nav__button {
  border: 1px solid $color-alice-blue-2;
  background-color: inherit;
  color: $color-alice-blue-2;
  text-transform: uppercase;
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  align-self: center;
  letter-spacing: 0.05em;
  user-select: none;
  width: 100%;
  padding: 10px;

  @include vp-1919 {
    // padding: percentage(10 / 160);
    // font-size: calc(14 / 1920) * 100vw;
    // line-height: calc(16 / 1920) * 100vw;
  }

  @include vp-1023 {
    display: none;
  }
}

.main-nav__button:hover,
.main-nav__button:focus {
  cursor: pointer;
  outline: none;
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
}

.main-nav__button:active {
  color: rgba(0, 178, 255, 0.5);
  border-color: rgba(0, 178, 255, 0.5);
}
