.main-header {
  position: relative;
  z-index: 5;
}

.main-header__wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: percentage(calc(350 / 1920));
  padding-right: percentage(calc(410 / 1920));
  background-color: $color-black-pearl;

  @include vp-1919 {
    padding-top: percentage(calc(30 / 1920));
    padding-bottom: percentage(calc(15 / 1920));
  }

  @include vp-1023 {
    padding-left: percentage(calc(50 / 770));
    padding-right: percentage(calc(70 / 770));
    padding-top: percentage(calc(20 / 770));
    padding-bottom: percentage(calc(10 / 770));
  }

  @include vp-767 {
    padding-left: percentage(calc(26 / 320));
    padding-right: percentage(calc(35 / 320));
    padding-top: percentage(calc(10 / 320));
    padding-bottom: percentage(calc(10 / 320));
    min-width: 320px;
  }
}

.main-header__wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  background: linear-gradient(180deg, $color-black-pearl 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: -1;
  top: 0;
  left: 0;

  @include vp-1023 {
    height: 117.65%;
  }

  @include vp-767 {
    height: 116.67%;
  }
}

.main-header__container {
  margin: 0 auto;
  max-width: 1160px;
  min-width: 259px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  display: block;
  width: percentage(calc(215 / 1160));

  @include vp-1023 {
    width: percentage(calc(215 / 650));
  }

  @include vp-767 {
    width: percentage(calc(35 / 259));
    align-self: center;
  }
}

.main-header__logo img {
  width: 100%;
  height: auto;
}

.main-header--fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
}
