.products {
  background-color: $color-black-pearl-2;
  padding-top: 65px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 73px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 85px;
  }
}

.products__wrapper h2 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  color: $color-default-white;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 55px;

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 26px;
  }
}

.products__title-text-default {
  @include vp-767 {
    display: none;
  }
}

.products__title-text-mobile {
  display: none;

  @include vp-767 {
    display: inline;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;

  @media (max-width: 1290px) {
    gap: 60px;
  }

  @include vp-1023 {
    grid-template-columns: auto;
    gap: 30px;
  }
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 650px;
  background-color: $color-arsenic;
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    min-height: 251px;
  }
}

.products__card:hover h3,
.products__card:focus h3 {
  color: $color-deep-sky-blue;
}

.products__card:active {
  opacity: 0.6;
}

.products__card--production {
  background-image: url("../img/product-card-desktop-1.jpg");

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url("../img/product-card-desktop-1-2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/product-card-tablet-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-card-tablet-1-2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/product-card-mobile-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-card-mobile-1-2x.webp");
    }
  }
}

.products__card--mounting {
  background-image: url("../img/product-card-desktop-2.jpg");

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url("../img/product-card-desktop-2-2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/product-card-tablet-2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-card-tablet-2-2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/product-card-mobile-2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-card-mobile-2-2x.webp");
    }
  }
}

.products__card--mounting br {
  @include vp-1023 {
    display: none;
  }
}

.products__card--lighting {
  background-image: url("../img/product-card-desktop-3.jpg");

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url("../img/product-card-desktop-3-2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/product-card-tablet-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-card-tablet-3-2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/product-card-mobile-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/product-card-mobile-3-2x.webp");
    }
  }
}


.products__card h3 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  color: $color-default-white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 46px;
  margin-left: 40px;
  align-self: flex-start;

  @include vp-1023 {
    margin-top: 38px;
    margin-left: 45px;
    width: percentage(calc(150 / 670));
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 28px;
    margin-left: 30px;
    width: percentage(calc(135 / 270));
  }
}

.products__card-link {
  align-self: flex-end;
  padding: 25px 27.5px;

  @include vp-767 {
    padding: 15px 17px;
  }
}
