.feed-back__container {
  background-color: $color-deep-sky-blue;
  position: relative;
  padding-top: 170px;
  padding-bottom: 250px;

  @include vp-1919 {
    padding-top: percentage(calc(170 / 1920));
    padding-bottom: percentage(calc(250 / 1920));
  }

  @include vp-1023 {
    padding-top: percentage(calc(45 / 770));
    padding-bottom: percentage(calc(125 / 770));
  }

  @include vp-767 {
    padding-top: percentage(calc(50 / 320));
    padding-bottom: percentage(calc(90 / 320));
  }

  @media (max-width: 320px) {
    padding-top: 45px;
    padding-bottom: 90px;
  }
}

.feed-back__container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: $color-deep-sky-blue-2;
  clip-path: polygon(0% 100%, 50.5% 0%, 0% 0%);
  z-index: 1;

  @include vp-1023 {
    display: none;
  }
}

.feed-back__wrapper {
  display: grid;
  grid-template-columns: percentage(calc(510 / 1220)) percentage(calc(580 / 1220));
  column-gap: 120px;
  position: relative;
  z-index: 2;

  @include vp-1919 {
    column-gap: calc(120 / 1920) * 100vw;
  }

  @include vp-1023 {
    grid-template-columns: auto;
    column-gap: initial;
  }
}

.feed-back__wrapper img {
  width: 100%;
  height: auto;
  margin-top: 77px;

  @include vp-1919 {
    margin-top: percentage(calc(77 / 510));
  }

  @include vp-1023 {
    display: none;
  }
}

.feed-back__title {
  margin: 0;
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: percentage(calc(15 / 580));

  @include vp-1919 {
    font-size: calc(36 / 1920) * 100vw;
    line-height: calc(51 / 1920) * 100vw;
  }

  @include vp-1023 {
    font-size: calc(36 / 770) * 100vw;
    line-height: calc(51 / 770) * 100vw;
    margin-bottom: percentage(calc(10 / 670));
  }

  @include vp-767 {
    font-size: calc(30 / 320) * 100vw;
    line-height: calc(42 / 320) * 100vw;
    margin-bottom: percentage(calc(10 / 270));
  }

  @media (max-width: 320px) {
    font-size: 30px;
    line-height: 42px;
  }
}

.feed-back__slogan {
  margin: 0;
  color: $color-default-white;
  margin-bottom: percentage(calc(35 / 580));

  @include vp-1919 {
    font-size: calc(16 / 1920) * 100vw;
    line-height: calc(22 / 1920) * 100vw;
  }

  @include vp-1023 {
    font-size: calc(16 / 770) * 100vw;
    line-height: calc(22 / 770) * 100vw;
    margin-bottom: percentage(calc(25 / 670));
  }

  @include vp-767 {
    font-size: calc(14 / 320) * 100vw;
    line-height: calc(19 / 320) * 100vw;
    margin-bottom: percentage(calc(30 / 270));
  }

  @media (max-width: 320px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.feed-back__form form {
  display: grid;
  grid-template-columns: percentage(calc(275 / 580)) percentage(calc(275 / 580));
  column-gap: 30px;
  row-gap: 20px;

  @include vp-1919 {
    column-gap: calc(30 / 1920) * 100vw;
    row-gap: calc(20 / 1920) * 100vw;
  }

  @include vp-1023 {
    grid-template-columns: percentage(calc(320 / 670)) percentage(calc(320 / 670));
    column-gap: calc(30 / 770) * 100vw;
    row-gap: calc(20 / 770) * 100vw;
  }

  @include vp-767 {
    grid-template-columns: auto;
    row-gap: calc(20 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    row-gap: 20px;
  }
}

.feed-back__form input[type="text"],
.feed-back__form input[type="tel"],
.feed-back__form textarea {
  @include vp-1919 {
    padding: percentage(calc(15 / 275));
    font-size: calc(16 / 1920) * 100vw;
    line-height: calc(20 / 1920) * 100vw;
  }

  @include vp-1023 {
    padding: percentage(calc(15 / 320));
    font-size: calc(16 / 770) * 100vw;
    line-height: calc(20 / 770) * 100vw;
  }

  @include vp-767 {
    padding: percentage(calc(15 / 270));
    font-size: calc(16 / 320) * 100vw;
    line-height: calc(20 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.feed-back__form textarea {
  grid-column: 1/3;
  margin-bottom: percentage(calc(6 / 580));
  padding: percentage(calc(15 / 580));
  padding-top: percentage(calc(25 / 580));

  @include vp-1023 {
    margin-bottom: 0;
    padding: percentage(calc(15 / 670));
    padding-top: percentage(calc(32 / 670));
  }

  @include vp-767 {
    grid-column: 1/2;
    margin-bottom: percentage(calc(10 / 270));
    padding: percentage(calc(15 / 270));
    padding-top: percentage(calc(25 / 270));
    min-height: calc(180 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    min-height: 180px;
  }
}

.feed-back__form button {
  width: percentage(calc(265 / 275));
  align-self: flex-start;
  user-select: none;

  @include vp-1919 {
    padding: percentage(calc(15 / 275)) percentage(calc(25 / 275));
    font-size: calc(16 / 1920) * 100vw;
    line-height: calc(15 / 1920) * 100vw;
  }

  @include vp-1023 {
    width: percentage(calc(265 / 320));
    padding: percentage(calc(15 / 320)) percentage(calc(25 / 320));
    font-size: calc(16 / 770) * 100vw;
    line-height: calc(15 / 770) * 100vw;
  }

  @include vp-767 {
    width: 100%;
    padding: percentage(calc(15 / 270)) percentage(calc(25 / 270));
    font-size: calc(16 / 320) * 100vw;
    line-height: calc(15 / 320) * 100vw;
    margin-bottom: percentage(calc(5 / 270));
  }

  @media (max-width: 320px) {
    font-size: 16px;
    line-height: 15px;
  }
}

.feed-back__form button:hover,
.feed-back__form button:focus {
  background-color: $color-default-white;
  color: $color-black-pearl;
}

.feed-back__form button:active {
  opacity: 0.6;
}

.feed-back__form label {
  width: percentage(calc(260 / 275));

  margin-left: percentage(calc(10 / 275));
  margin-top: percentage(calc(15 / 275));
  align-self: flex-start;

  @include vp-1919 {
    padding-left: percentage(calc(26 / 275));
    font-size: calc(14 / 1920) * 100vw;
    line-height: calc(15 / 1920) * 100vw;
  }

  @include vp-1023 {
    width: percentage(calc(260 / 320));
    padding-left: percentage(calc(25 / 320));
    margin-left: 0;
    margin-top: percentage(calc(10 / 320));
    font-size: calc(14 / 770) * 100vw;
    line-height: calc(15 / 770) * 100vw;
  }

  @include vp-767 {
    width: percentage(calc(260 / 270));
    align-self: center;
    padding-left: percentage(calc(26 / 270));
    margin-top: 0;
    font-size: calc(14 / 320) * 100vw;
    line-height: calc(15 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    font-size: 14px;
    line-height: 15px;
  }
}

.feed-back__form label:hover,
.feed-back__form label:focus,
.feed-back__form label:focus-within {
  cursor: pointer;
  color: $color-black-pearl;
}

.feed-back__form label:active {
  opacity: 0.6;
}

.feed-back__form label:hover > span,
.feed-back__form label:focus > span {
  cursor: pointer;
  border-color: $color-black-pearl;
}

.feed-back__form label > span svg {
  fill: none;
  stroke: $color-default-white;
}

.feed-back__form label:hover > span svg,
.feed-back__form label:focus > span svg,
.feed-back__form label:focus-within > span svg {
  stroke: $color-black-pearl;
}

.feed-back__form input[type="checkbox"] + span {
  min-width: 9px;
  min-height: 9px;

  @include vp-1919 {
    width: percentage(calc(15 / 260));
    height: calc(15 / 1920) * 100vw;
    justify-content: space-around;
  }

  @include vp-1023 {
    height: calc(15 / 770) * 100vw;
    justify-content: flex-start;
  }

  @include vp-767 {
    height: calc(15 / 320) * 100vw;
  }

  @media (max-width: 320px) {
    height: 15px;
  }
}

.feed-back__form input[type="checkbox"]:focus + span {
  border-color: $color-black-pearl;
}

.feed-back__form input[type="checkbox"] + span > svg {
  @include vp-1919 {
    margin: 0;
    align-self: center;
  }

  @include vp-1023 {
    align-self: flex-start;
    margin-top: percentage(calc(4 / 13));
    margin-left: percentage(calc(2 / 13));
    width: percentage(calc(7 / 13));
    height: percentage(calc(4 / 13));
  }
}

.feed-back__form input[type="checkbox"]:checked + span > svg {
  display: block;
}
