.about {
  padding-top: 60px;
  padding-bottom: 101px;

  @include vp-1023 {
    padding-top: 35px;
    padding-bottom: 79px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: percentage(150 / 1220) percentage(100 / 1220) percentage(970 / 1220);

  @include vp-1023 {
    grid-template-columns: percentage(150 / 670) percentage(25 / 670) percentage(493.5 / 670);
  }

  @include vp-767 {
    display: block;
  }
}

.about__wrapper img {
  width: 100%;
  height: auto;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__group {
  grid-column-start: 3;
  grid-column-end: 4;
}

.about__group h2 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 15px;
  }
}

.about__group p {
  margin: 0;
  margin-bottom: 22px;

  @include vp-1023 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
}

.about__button {
  border: 1px solid $color-deep-sky-blue;
  cursor: pointer;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  text-align: center;
  padding: 13.5px 50px;
  border-radius: 3px;
  display: none;
  margin-top: 40px;
  user-select: none;
  background-color: inherit;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    padding: 8.5px 40px;
  }
}

.about__button-js {
  display: block;
}

.about__button:hover,
.about__button:focus {
  color: $color-black-pearl;
  border-color: $color-black-pearl;
}

.about__button:active {
  color: rgba(4, 20, 39, 0.6);
  border-color: rgba(4, 20, 39, 0.6);
}

.about__additional-text-js {
  display: none;
}

.about__text-mobile-js {
  @include vp-767 {
    display: none;
  }
}
