.major-block {
  padding-top: 205px;
  padding-bottom: 280px;
  background-color: $color-black-pearl;
  background-image: url("../img/main-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 95%;
  min-width: 320px;

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url("../img/main-background-desktop-2x.jpg");
  }

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 205px;
    background-image: url("../img/main-background-tablet.jpg");
    background-position: 20.5% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-tablet-2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 90px;
    padding-bottom: 190px;
    background-image: url("../img/main-background-mobile.jpg");
    background-position: 20.5% 95%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-mobile-2x.webp");
    }
  }
}

.major-block__wrapper {
  padding-left: 125px;

  @include vp-1023 {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.major-block__wrapper h2 {
  margin: 0;
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  font-family: $ff-roboto-condensed;
  color: $color-alice-blue-2;
  margin-bottom: 37px;
  letter-spacing: 0.07em;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
  }

  @include vp-767 {
    max-width: 410px;
    width: 100%;
    font-size: 36px;
    line-height: 42px;
    margin: 0 auto;
    margin-bottom: 7px;
  }
}

.major-block__wrapper p {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  color: $color-alice-blue-2;
  width: 685px;
  margin-bottom: 45px;

  @include vp-1023 {
    margin-bottom: 59px;
    width: 100%;
  }

  @include vp-767 {
    max-width: 410px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

.major-block__link {
  width: 410px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $color-alice-blue-2;
  text-transform: uppercase;
  font-family: $ff-roboto-condensed;
  padding: 15px;
  padding-bottom: 18px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.05em;
  user-select: none;

  @include vp-1023 {
    width: 410px;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 21px;
    margin-left: 45px;
  }

  @include vp-767 {
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
    padding: 13px 30px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
  }
}

.major-block__link:hover,
.major-block__link:focus {
  color: $color-black-pearl;
  cursor: pointer;
}

.major-block__link:active {
  opacity: 0.8;
}

.major-block__link-text {
  @include vp-767 {
    display: none;
  }
}

.major-block__link-text-mobile {
  display: none;

  @include vp-767 {
    display: inline;
  }
}
